body {
    max-height: 100vh;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
header h1 {
    font-size: 2.5em;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 15px;
    list-style-type: none;
}
nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 1.1em;
}

a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #fff; 
    transition: width 0.3s ease; 
}

a:hover::before {
    width: 100%;
}

aside {
    background-color: #f4f4f4;
    width: 25%;
    padding: 1%;
}

main {
    height: 40vh;
    padding: 10px;
    background-color: grey;
    color: black;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}